@{
    Layout = "../Shared/_Layout.cshtml";
        
}

<div class="container">
    <div class="row">
        <h1 class="display-4 my-5 fw-bold text-center">Add Student</h1>
        <div class="col-lg-6 mx-auto">
            <!-- Form -->
            <form method="post">

                <div class="my-2">
                    <input class="form-control" type="text" name="Name" placeholder="Enter Student Name" />
                </div>

                <div class="my-2">
                    <input class="form-control" type="number" name="Age" placeholder="Enter Age" />
                </div>

                <div class="my-2">
                    <input class="form-control" type="text" name="Education" placeholder="Enter Education" />
                </div>

                <div class="my-2">
                    <input class="form-control" type="text" name="Address" placeholder="Enter Address" />
                </div>

                <div class="mt-2 mx-auto text-center">
                    <input class="btn bg-success w-50 form-control mx-auto" type="submit" value="Add Student" />
                </div>

            </form>
            <!-- Form End -->
        </div>
    </div>
</div>